<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserva Confirmada</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; text-align: center; padding: 20px;">
<p th:utext="'<strong>' + ${emailMessageDto.securityCode} +
                '</strong>🔑 : Código de acceso.<br>Nº Taquilla: ' + ${emailMessageDto.boxId} + '.<br>📦 Uso: Retirar tu equipaje. <br>⏰Validez: 15 minutos.<br>⏳ Accion disponible hasta: fin de tu tiempo de reserva.<br>
                📅 Reserva válida hasta: ' + ${emailMessageDto.endDate} +
                '.<br>⚠ Pasado este horario, el locker se bloqueará y deberás realizar una nueva reserva.'"
   style="font-size: 18px; color: #333; background-color: #fff; padding: 10px 20px; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 30px;">
</p>

<h1 style="font-size: 36px; color: #4CAF50; margin-top: 0; font-weight: bold; letter-spacing: 2px;">
    Andalusian Rooms Locker
</h1>
</body>
</html>